.background-color-principal {
  background-color: #290029;
}

.background-color-secundario {
  background-color: #EDDDD4;
}

.background-color-destacado {
  background-color: #9A031E;
}

.background-destacado-secundario {
  background-color: #C1CAD6;
}

.fuente-titulos {
  font-family: 'Staatliches', cursive;
}

.main-cinematic-fuente {
  font-family: 'Almarai', sans-serif;
}

.header-cinematic-fuente {
  font-family: 'Monoton', cursive;
}

.bold-cinematic-fuente {
  font-family: 'Monoton', cursive;
  font-weight: bold;
}

.fuente-sidebar {
  font-size: 25px;
}

.navbar-toggler {
  border: none;
  outline: none;
  padding-bottom: 20px;
}

.jumbotron {
  position: relative;
  background: none;
  color: white;
}

.jumbotron:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./img/recycledj_desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-fade {
  background-color: rgba(0, 0, 0, 0.4);
}

.card-relacionados {
  margin: 0px;
  font-size: 15px;
}

.columna-texto-articulos {
  padding-left: 20px;
}

.titulo-detalle {
  color: black;
}

.hr-cinematic {
  background-color: #9A031E;
  height: 10px;
  width: 90px;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 5px;
}

.card-articulos {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.color-principal {
  background-color: #290029;
}

.main-logo-cinematic {
  margin-right: 10px;
  width: 70px;
}

.imagen-card {
  float: left;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cinematic-nav {
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 200px;
  padding-right: 200px;
  color: black;
}

.titulo-navbar {
  margin-top: 10px;
  height: 30px;
  font-size: 16px;
  color: white;
}

.jumbotron-principal {
  padding-left: 100px;
  margin-bottom: 0px;
  height: 450px;
}

.video-cinematic {
  width: 70%    !important;
  height: auto   !important;
  margin-bottom: 30px;
}

.titulo-noticias-card {
  padding: 10px;
  padding-bottom: 10px;
  font-size: 70px;
}

.footer-cinematic {
  background-color: #290029;
}

.imagen-card-listado {
  float: left;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cinematic-input {
  outline: 0;
  border-width: 0 0 2px;
  border-bottom: 1px solid #9A031E;
  outline: none;
  margin-bottom: 20px;
}

.formulario {
  padding: 20px;
}

.video-youtube {
  width: 720px;
  width-height: 1280px;
  width-margin-bottom: 300px;
}

body {
  font-family: "Almarai", sans-serif;
}

a {
  color: black;
}

@media screen and (max-width: 1200px) {
  .jumbotron:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./img/recycledj.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .video-cinematic {
    width: 720;
  }
}

@media screen and (max-width: 992px) {
  .video-cinematic {
    width: 720;
  }
}

@media screen and (max-width: 768px) {
  .video-cinematic {
    width: 500;
  }
  .navbar-collapse {
    background-color: black;
  }
}

@media screen and (max-width: 540px) {
  .imagen-card-listado {
    float: left;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .video-cinematic {
    width: 320;
  }
  .cinematic-nav {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .titulo-navbar {
    display: none;
  }
  .jumbotron-principal {
    padding-left: 20px;
    margin-bottom: 0px;
    height: 450px;
  }
  .main-logo-cinematic {
    margin-right: 0px;
    width: 40px;
  }
  .navbar-collapse {
    background-color: black;
  }
  .titulo-noticias-card {
    padding: 10px;
    padding-bottom: 0px;
    font-size: 40px;
  }
  .logo-footer {
    display: none;
  }
  .padding-container {
    padding: 30px;
  }
  .centrar-texto {
    text-align: center;
  }
  .card-detalle {
    padding-top: 50px;
  }
}
/*# sourceMappingURL=carlos-style.css.map */