//COLORES
$colorPrincipal : #290029
$colorSecundario : #EDDDD4
$colorDestacado : #9A031E
$colorDestacadoSecundario : #C1CAD6

.background-color-principal
  background-color: $colorPrincipal
.background-color-secundario
  background-color: $colorSecundario
.background-color-destacado
  background-color: $colorDestacado
.background-destacado-secundario
  background-color: $colorDestacadoSecundario

//FUENTES
$fuenteTextos : 'Monoton', cursive 
$fuenteTitulos : 'Staatliches', cursive
$fuenteTitulosSecundaria: 'Almarai', sans-serif 

//CLASES
.fuente-titulos
  font-family: 'Staatliches', cursive
.main-cinematic-fuente 
  font-family: 'Almarai', sans-serif 
.header-cinematic-fuente 
  font-family: 'Monoton', cursive 
.bold-cinematic-fuente 
  font-family: 'Monoton', cursive 
  font-weight: bold 
.fuente-sidebar
  font-size: 25px

// BOTON NAVBAR SIN BORDES
.navbar-toggler 
  border: none
  outline: none
  padding-bottom: 20px

// HEADER Y JUMBOTRON TRANSPARENTE
.jumbotron 
  position: relative 
  background: none 
  color: white 
  &:after
    content : "" 
    display: block 
    position: absolute 
    top: 0 
    left: 0 
    background-image: url(./img/recycledj_desktop.png) 
    background-repeat: no-repeat 
    background-position: center 
    background-size: cover 
    width: 100% 
    height: 100% 
    z-index: -1 
.header-fade 
  background-color: rgba(0, 0, 0, .4) 
// FIN HEADER Y JUMBOTRON TRANSPARENTE

//Clases Desktop XL y predeterminado
.card-relacionados
  margin: 0px 
  font-size: 15px
.columna-texto-articulos
  padding-left: 20px
.titulo-detalle
  color: black
.hr-cinematic
  background-color: $colorDestacado
  height: 10px
  width: 90px
  margin-top: 0px
  padding-top: 0px
  margin-left: 5px
.card-articulos 
  padding-left: 10px 
  padding-right: 10px 
  background-color: white 
  border-radius: 10px
  margin-top: 10px 
  margin-bottom: 20px
.color-principal 
  background-color: #290029
.main-logo-cinematic 
  margin-right: 10px 
  width: 70px 
.imagen-card  
  float: left 
  height: 150px 
  object-fit: cover 
.cinematic-nav 
  padding-top: 30px  
  padding-bottom: 15px  
  padding-left: 200px
  padding-right: 200px
  color: black
.titulo-navbar 
  margin-top: 10px
  height: 30px 
  font-size: 16px  
  color: white 
.jumbotron-principal 
  padding-left: 100px  
  margin-bottom: 0px  
  height: 450px 
.video-cinematic
  width: 70%    !important
  height: auto   !important
  margin-bottom: 30px
.titulo-noticias-card
  padding: 10px
  padding-bottom: 10px 
  font-size: 70px
.footer-cinematic
  background-color: #290029
.logo-navbar-mobile
  display:none
.imagen-card-listado
  float: left
  height: 200px
  object-fit: cover
.cinematic-input 
  outline: 0;
  border-width: 0 0 2px
  border:none 
  border-bottom: 1px solid $colorDestacado
  outline: none 
  margin-bottom: 20px
.formulario
  padding: 20px
.video-youtube
	width: 720px
  height: 1280px
  margin-bottom: 300px
body 
  font-family: $fuenteTitulosSecundaria
a
  color: black

//MEDIA QUERIES
@media screen and (max-width: 1200px) 
  .jumbotron:after  
      content : "" 
      display: block 
      position: absolute 
      top: 0 
      left: 0 
      background-image: url(./img/recycledj.png) 
      background-repeat: no-repeat 
      background-position: center 
      background-size: cover 
      width: 100% 
      height: 100% 
      z-index: -1 
  .video-cinematic
      width: 720
@media screen and (max-width: 992px)
    .video-cinematic
        width: 720
@media screen and (max-width: 768px)
    .video-cinematic
      width: 500
    .navbar-collapse
      background-color: black
@media screen and (max-width: 540px)
  .imagen-card-listado
    float: left
    height: 250px
    object-fit: cover
  .video-cinematic
      width: 320
  .cinematic-nav 
    margin-top: 0px  
    padding-left: 0px
    padding-right: 0px
    background-color: 
  .titulo-navbar 
    display: none 
  .jumbotron-principal 
    padding-left: 20px  
    margin-bottom: 0px  
    height: 450px 
  .main-logo-cinematic 
    margin-right: 0px 
    width: 40px
  .navbar-collapse
    background-color: black
  .logo-navbar
    display:none
  .logo-navbar-mobile
    display:block
  .titulo-noticias-card
    padding: 10px
    padding-bottom: 0px 
    font-size: 40px
  .logo-footer
    display: none
  .padding-container
    padding: 30px
  .centrar-texto
    text-align: center
  .card-detalle
    padding-top: 50px;